<nav class="navbar navbar-expand-lg navbar-dark static-top" id="header-nav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="https://toppng.com/download/ugMOXGPmzjbgGwCAaasgwTY7dlo6SzXejiA3BKuqInG4aMXBGjnD0DbMhbYuPAtm6CMPdi4uKWpxAvJ3uuXI63URne81nHnpPiICH2VqAatfsjeftx1kSoHe9U31Fcwk1arkRkaQ0kjfml3MdaTP6679RMUrnj8OnCvkcCDZyc3v12vpn7X6JA7rfyUTb4g8R2Q3t7DN/large"
        alt="neo4j-express-ejs-app"
        height="40"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>
      <form method="get" action="/search/person">
        <input
          class="form-control"
          type="text"
          name="query"
          placeholder="Search (ex: doppio)"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav>
