<h3>add person</h3>
<form method="POST" action="/person/add">
  <input type="text" name="name" placeholder="name" />
  <input type="submit" value="submit" />
</form>

<h3>add Location</h3>
<form method="POST" action="/location/add">
  <input type="text" name="city" placeholder="city" />
  <input type="submit" value="submit" />
</form>

<h3>connect friends</h3>
<form method="POST" action="/friends/connect">
  <input type="text" name="name1" placeholder="name" />
  <input type="text" name="name2" placeholder="name" />
  <input type="submit" value="submit" />
</form>

<h3>Persons</h3>
<ul>
  <% persons.forEach(function(person){ %>
  <li><%= person.name %></li>
  <% }) %>
</ul>

<h3>Loactions</h3>
<ul>
  <% locations.forEach(function(location){ %>
  <li><%= location.city %></li>
  <% }) %>
</ul>
